.fraunces-font-and-weight {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

.perfume-font-weight {
  font-weight: 700;
}

.floral-font-weight {
  font-weight: 700;
}